# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.development.localdevelopment.local
.env.test.local.local
.env.production.localproduction.local
.env.*.locallocal

# Editor directories and filestor directories and files
.vscode/*de/*
!.vscode/extensions.json!.vscode/extensions.json
.idea
.DS_Store
*.suo*.suo








storybook-static*storybook.log*.sw?*.sln*.njsproj*.ntvs**.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static
